@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --color-white: #fff;
    --color-black: #000000;
    --color-dark-purple: #231638;
    --color-purple: #6F1AF2;
    --color-light-font: #525151;
    --color-bg-form: #F6F6F6;
}

.arrow-form {
    width: 20px;
}

.light-font {
    color: var(--color-light-font);
}

.container {
    width: 70%;
    padding: 40px 0 0 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Poppins';
}

header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding-left: 5%;
    width: 150px;
}

.menu-nav {
    padding-right: 5%;
    height: 100%;
}

.menu {
    height: 100%;
    display: flex;
    list-style: none;
}

.menu li {
    padding-top: 5%;
}

.menu li a {
    text-decoration: none;
    color: var(--color-white);
    text-transform: uppercase;
    height: 100%;
    padding: 39px 10px;
}
.menu li a {
    font-weight: 500;
    text-decoration: none;
    color: var(--color-dark-purple);
    text-transform: uppercase;
    height: 100%;
    padding: 39px 10px;
    transition: all 250ms ease-in-out;
}
.menu li a:hover {
    color: var(--color-white);
    background: var(--color-purple);
}

.banner-section {
    background: var(--color-purple);
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 40px 0 40px;
}
.imagem-banner {

    width: 50%;
    justify-content: center;
}

.banner img {
    width: 400px;
    padding-bottom: -35px;

}
.banner img:hover {
    transform: scale(1.03);
    transition: all 0.2s ease-in;
}

.texto-banner {
    width: 50%;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.destaque-escuro {
    color: var(--color-dark-purple);
}
.destaque-escuro-p {
    color: var(--color-dark-purple);
    font-weight: 700;
}

.destaque {
    color: var(--color-purple);
}

.texto-banner p {
    font-size: 13px;
    padding: 30px 0;
}

.button {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-purple);
    background: var(--color-white);
    width: 200px;
    text-align: center;
    padding: 8px;
    border-radius: 5px;
}
.button-roxo {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-white);
    background: var(--color-purple);
    width: 200px;
    text-align: center;
    padding: 8px;
    border-radius: 5px;
}
.button:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 20px var(--color-dark-purple);
}
.button-roxo:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 20px var(--color-dark-purple);
}

.loop-section {
    display: flex;
    justify-content: center;
}

.loop {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
}

.texto-loop {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-loop {
    color: var(--color-purple);
}
.divisoria-titulo {
    margin-top: 15px;
    margin-bottom: 15px;
    background: var(--color-purple);
    height: 5px;
    width: 120px;
    border-radius: 10px;
}

.texto-loop p {
    padding: 10px 0;
    font-size: 18px;
    width: 80%;
}

.imagem-loop {
    width: 700px;
}

.loop-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
}

.card {
    width: 160px;
}

.carrossel-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carrossel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 60%;
    gap: 20px;
    padding: 30px 0;
}

.carrossel p {
    width: 50%;
}

/* inicio gallery */
.gallery-container {
    position: relative;
    padding: 15px;
    max-width: 800px;
    margin: 0 auto;
}

.gallery-container button {
    font-size: 30px;
    font-weight: 600;
}

.gallery-wrapper {
    overflow-x: auto;
}

.gallery-wrapper::-webkit-scrollbar {
    display: none;
  }

.gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    
}

.arrow-left, .arrow-right {
    position: absolute;
    top: 0;
    left: -5%;
    right: auto;
    bottom: 0;
    font-size: 20px;
    line-height: 400px;
    width: 40px;
    text-align: center;
    color: #000000;
    cursor: pointer;
    border: none;
    background: none;
}

.arrow-left:hover, .arrow-right:hover {
    transform: scale(1.1);
}

.arrow-right {
    position: absolute;
    top: 0;
    left: auto;
    right: -5%;
    bottom: 0;
}

.item {
    flex-shrink: 0;
    width: 765px;
}

.guias {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.guia {
    width: 15px;
    height: 15px;
    background: #a7a7a7;
    border-radius: 50%;
}

.current-guia {
    background: var(--color-purple);
    transition: all ease-in-out 0.4s;
}
/* gallery fim */

.texto-abaixo-carrossel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.titulo-abaixo-carrossel {
    font-weight: 400;
    width: 60%;
}

.paragrafo-abaixo-carrossel {
    padding: 30px 0;
    width: 60%;
}


.arvore-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.arvore-section img {
    width: 800px;
    padding: 40px 0;
}

.texto-arvore-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.texto-arvore-section p{
    width: 55%;
}

.form-section {
    padding: 90px 0;
    display: flex;
    justify-content: center;
}

.form-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 60%;
}

.instructions-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;

}

.page-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-texto {
    border: none;
    background: var(--color-bg-form);
    height: 42px;
    width: 260px;
    padding: 10px;
    border-radius: 7px;
    color: var(--color-light-font);
    font-family: 'Poppins';
}

.input-texto:focus {
    box-shadow: 1px 1px 4px var(--color-purple);
    outline: none;
    
    
}

.submit {
    font-family: 'Poppins';
    border: none;
    height: 42px;
    width: 260px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-white);
    background: var(--color-purple);
    text-align: center;
    padding: 8px;
    border-radius: 5px;
}

.submit:hover {
    transform: scale(0.99);
    box-shadow: 1px 1px 5px var(--color-purple);
}

.instructions-image {
    width:350px;
}