@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


html {
    scroll-behavior: smooth;
}

:root {
    --color-white: #fff;
    --color-black: #000000;
    --color-dark-purple: #231638;
    --color-purple: #6F1AF2;
    --color-light-font: #525151;
    --color-bg-form: #F6F6F6;
}

.arrow-form {
    width: 20px;
}

.light-font {
    color: var(--color-light-font);
}

.container {
    width: 70%;
    padding: 40px 0 0 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding-left: 5%;
    width: 150px;
}

.menu-nav {
    padding-right: 5%;
    height: 100%;
}

.menu {
    height: 100%;
    display: flex;
    list-style: none;
}

.menu li {
    padding-top: 5%;
}

.menu li a {
    text-decoration: none;
    color: var(--color-white);
    text-transform: uppercase;
    height: 100%;
    padding: 39px 10px;
}
.menu li a {
    font-weight: 500;
    text-decoration: none;
    color: var(--color-dark-purple);
    text-transform: uppercase;
    height: 100%;
    padding: 39px 10px;
    transition: all 250ms ease-in-out;
}
.menu li a:hover {
    color: var(--color-white);
    background: var(--color-purple);
}

.banner-section {
    background: var(--color-purple);
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 40px 0 40px;
}
.imagem-banner {

    width: 50%;
    justify-content: center;
}

.banner img {
    width: 400px;
    padding-bottom: -35px;
    margin-bottom: -7px;

}
.banner img:hover {
    transform: scale(1.03);
    transition: all 0.2s ease-in;
}

.texto-banner {
    width: 50%;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.copy-banner {
    font-size: 30px;
}
.destaque-escuro {
    color: var(--color-dark-purple);
}
.destaque-escuro-p {
    color: var(--color-dark-purple);
    font-weight: 700;
}

.destaque {
    color: var(--color-purple);
}

.texto-banner p {
    font-size: 13px;
    padding: 30px 0;
}

.button {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-purple);
    background: var(--color-white);
    width: 200px;
    text-align: center;
    padding: 8px;
    border-radius: 5px;
}
.button-roxo {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-white);
    background: var(--color-purple);
    width: 200px;
    text-align: center;
    padding: 8px;
    border-radius: 5px;
}
.button:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 20px var(--color-dark-purple);
}
.button-roxo:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 20px var(--color-dark-purple);
}

.loop-section {
    display: flex;
    justify-content: center;
}

.loop {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
}

.texto-loop {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-loop {
    color: var(--color-purple);
}
.divisoria-titulo {
    margin-top: 15px;
    margin-bottom: 15px;
    background: var(--color-purple);
    height: 5px;
    width: 120px;
    border-radius: 10px;
}

.texto-loop p {
    padding: 10px 0;
    font-size: 18px;
    width: 80%;
}

.imagem-loop {
    width: 700px;
}

.loop-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
}

.card {
    width: 160px;
}

.carrossel-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carrossel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 60%;
    gap: 20px;
    padding: 30px 0;
}

.carrossel p {
    width: 50%;
}

.slider-container {
    position: relative;
    width: 756px;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s;
}

.slide {
    transition: all 0.4s ease-in-out;
    width: 756px;
}

.slide img {
    width: 756px;
    height: auto;
}

button {
    font-size: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-light-font);
    background: transparent;
    border: none;
    border-radius: 50%;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 1;
}

button:hover {
    font-size: 40px;
    box-shadow: 1px 1px 100px 1px var(--color-purple);
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.texto-abaixo-carrossel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.titulo-abaixo-carrossel {
    font-weight: 400;
    width: 60%;
}

.paragrafo-abaixo-carrossel {
    padding: 30px 0;
    width: 60%;
}


.arvore-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.arvore-section img {
    width: 800px;
    padding: 40px 0;
}

.texto-arvore-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.texto-arvore-section p{
    width: 55%;
}

.form-section {
    padding: 90px 0;
    display: flex;
    justify-content: center;
}

.form-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 60%;
}

.instructions-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;

}

.page-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-texto {
    border: none;
    background: var(--color-bg-form);
    height: 42px;
    width: 330px;
    padding: 10px;
    border-radius: 7px;
    color: var(--color-light-font);
    font-family: 'Poppins';
}

.input-texto:focus {
    box-shadow: 1px 1px 4px var(--color-purple);
    outline: none;
    
    
}

.submit {
    font-family: 'Poppins';
    border: none;
    height: 42px;
    width: 330px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-white);
    background: var(--color-purple);
    text-align: center;
    padding: 8px;
    border-radius: 5px;
}

.submit:hover {
    transform: scale(0.99);
    box-shadow: 1px 1px 5px var(--color-purple);
}

.instructions-image {
    border-radius: 5px;
    width:350px;
}

.table-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-holder {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 40px;
}


.img-table {
    width: 800px;
}

.faq-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px;
}

.faq-holder {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 65%;
}

.faq {
    border-radius: 8px;
    background: var(--color-bg-form);
    
}

.faq-titulo {
    height: 50px;
    text-align: start;
    padding: 15px;
    font-weight: 600;
    cursor: pointer;
}

.faq-texto {
    background: var(--color-bg-form);
    border-radius: 8px;
    text-align: start;
    padding: 15px;
}

footer {
    background: var(--color-bg-form);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.info {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 40px 0 30px;

}

.info a {
    text-decoration: none;
}

.traco-footer {
    height: 1px;
    width: 80%;
    background: #949494;
}

.copyrights p{
    padding: 40px 0 30px;
    color: #949494;
}
.info a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.info a img {
    width: 25px;
    height: 25px;
}